<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Confirm your newsletter subscription</title>
</head>
<body>
<h1 class="w-auto text-center text-3xl mb-3">
  Confirm your newsletter subscription
</h1>
<div class="w-full text-center">
<h2 > Press the big button below to confirm your subscription. </h2>
<form action="/newsletter/confirm" method="post" class="flex justify-center mx-auto space-y-3">
  <input type="hidden" name="token" value="{{ token }}">
  <button type="submit" class="inline-flex items-center px-8 py-4 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 flex-none"> Sign up </button>
</form>
</div>
</body>
</html>
